---
export async function getStaticPaths({ paginate }) {
	const { BLOG_POSTS_PER_PAGE } = import.meta.env;
	const blogEntries = await getCollection('blog');
	blogEntries.sort((a, b) => {
	return a.data.date > b.data.date ? -1 : 1
});
	return paginate(blogEntries, { pageSize: BLOG_POSTS_PER_PAGE || 10 })
};

import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const { page } = Astro.props;
---

<Layout title="Joe Innes">
	<ul>
		{page.data.map(blogPostEntry => (
			<li>
				<a href={`/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
				<time datetime={blogPostEntry.data.date.toISOString()}>
					{blogPostEntry.data.date.toDateString()}
				</time>
			</li>
		))}
	</ul>
</Layout>

{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}

Page {page.currentPage}